@import "./statics.scss";

.main-companies {
    position: relative;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: $bg;
    padding: 0 5rem;

    @media screen and (max-width: 48em) {
        padding: 0 1.875rem;
    }

    .gradient-companies {
        z-index: 10;
        position: absolute;
        top: -20%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: url(../assets/home/chains-section-overlay.png);
        background-position: center;
        background-size: 100% 46.5625rem;
        background-repeat: no-repeat;
    }

    .backed-text {
        margin-top: 5rem;
        z-index: 16;
        text-align: center;
        height: max-content;


        p {
            text-align: center;
            font-size: 2rem;
            color: $white;
            font-family: $font-bold;

            span {
                background: -webkit-linear-gradient(left, rgba(63, 55, 201, 1), rgba(76, 201, 240, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        @media screen and (max-width: 62em) {
            p {
                font-size: 1.5rem;
            }
        }
    }

    .gaming-para {
        position: relative;
        margin-top: 4rem;
        z-index: 20;

        p {
            margin-top: 1rem;
            font-size: 22px;
            line-height: 30.4px;
            text-align: center;
            color: $white;
            font-family: $font-bold;
            z-index: 20;
        }

        @media screen and (max-width: 62em) {
           p {
                font-size: 1.5rem;
                line-height: 22.8px;
            }
        }

        @media screen and (max-width: 33em) {
           p{
                font-size: 1rem;
            }
        }



        .title-para {
            z-index: 20;
            font-size: 46px;
            line-height: 62.8px;
            text-align: center;
            color: $white;
            font-family: $font-black;

            span {
                background: -webkit-linear-gradient(left, rgba(63, 55, 201, 1), rgba(76, 201, 240, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        @media screen and (max-width: 62em) {
            .title-para {
                font-size: 2rem;
                line-height: 38.8px;
            }
        }

        @media screen and (max-width: 33em) {
            .title-para {
                font-size: 1.4rem;
            }
        }

        .gaming-comp {
            z-index: 20;
            display: flex;
            margin-top: 5rem;
            margin-bottom: 8rem;
            gap: 60px;
            flex-wrap: wrap;
            justify-content: center;

            img {
                z-index: 20;
                object-fit: contain;
            }
        }


    }
}